<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body th:object="${foto}">
	<h1>Create your Experience</h1>
	<form action="/fotos/create" method="POST">
		<label>Titolo</label>
		<input type="text" name="titolo" th:value="*{titolo}">
		<br>
		
		<label>Descrizione</label>
		<input type="text" name="descrizione" th:value="*{descrizione}">
		<br>
		
		<label>Url</label>
		<input type="url" name="url" th:value="*{url}">
		<br>
		
		<label>Visibile</label>
		<input type="checkbox" name="visibile" th:value="*{visibile}">
		<br>
		
		<label>Categorie</label>
		<div 
		 th:each="categoria : ${categorie}"
		 th:objevt="${categoria}"
		 
		
		>
		<input th:id="${'categoria-' + categoria.id}" type="checkbox" name="categorie" th:value="*{id}">
		<label th:for="${'categoria-' + categoria.id}"></label>
		
		</div>
		
		<input type="submit" value="create"> 
	
	</form>
</body>
</html>